@font-face {
	font-family: 'Conv_calibri';
	src: url('fonts/calibri.eot');
	src: local('☺'), url('fonts/calibri.woff') format('woff'), url('fonts/calibri.ttf') format('truetype'), url('fonts/calibri.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_MyriadPro-Bold';
	src: url('fonts/MyriadPro-Bold.eot');
	src: local('☺'), url('fonts/MyriadPro-Bold.woff') format('woff'), url('fonts/MyriadPro-Bold.ttf') format('truetype'), url('fonts/MyriadPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body { font-family:'Conv_calibri', Sans-Serif; font-size: 10px!important;}

.h-container { width: 100%; min-width: 1300px; background: url(../img/bk-header.png) repeat; float: left;} /* +/- 1300px */

.h-topo { width: 1300px; height: 60px; position: relative; left: 50%; margin-left: -650px; float: left;} /* +/- 1300px */
.redes-sociais { margin: 21px 0 0 65px; width: 230px;}
.fb-like { float: left; margin-right: 15px;}
.usuario { width: 280px; margin: 21px 0 0 0; position: absolute; right: 0; top: 0;}
figure.wall { width: 120px; display: block; float: left; margin-right: 20px;}
figure.wall a { width: 24px; height: 18px; display: block; background: url(../img/wallpaper.png) no-repeat; text-decoration: none;}
figure.wall a:hover { background: url(../img/wallpaper-hover.png) no-repeat;}
figure.wall figcaption { font-size: 1.2em; margin-left: 40px; padding-top: 3px; font-weight: bold; text-transform: uppercase; color: #dddddd;}
figure.contato { width: 130px; display: block; float: left;}
figure.contato a { width: 24px; height: 16px; margin-top: 2px; display: block; background: url(../img/contato.png) no-repeat; text-decoration: none;}
figure.contato a:hover { background: url(../img/contato-hover.png) no-repeat;}
figure.contato figcaption { width: 97px; font-size: 1.2em; margin-left: 40px; padding-top: 3px; font-weight: bold; text-transform: uppercase; color: #dddddd;}

.h-news { width: 1300px; height: 110px; position: relative; left: 50%; margin-left: -650px; float: left;} /* +/- 1300px */

.newsletter { width: 860px; float: right; margin: 15px 180px 0 0;}


.newsletter input { width: 302px; height: 39px; margin-top: 17px; float: left; background: url(../img/bk-news.png) no-repeat #222222; background-position: 14px 11px;}
.newsletter input { border: none; color: #666666; font-size: 1.4em; font-family:'Conv_calibri', Sans-Serif;}
.newsletter input { padding-left: 5px; text-indent: 50px;}
.newsletter button.vd { width: 169px; height: 41px; margin-top: 17px; float:left; border: none; background: url(../img/bt-news.png) no-repeat; cursor: pointer;}
.newsletter button.vd:hover { background: url(../img/bt-news-hover.png) no-repeat;}
.newsletter button.vd { color: #FFF; text-transform: uppercase; font-size: 1.4em; font-weight: bold;}
.newsletter h5 { font-size: 1.7em; color: #96bd05; float: left; font-weight: normal;}
.newsletter h5 ~ p { float: left; color: #FFF; font-size: 1.3em; margin: 20px 15px 0 20px; line-height: 18px;}





section.menu { width: 100%; height: 100px; float: left; border-bottom: solid 5px #222222;}
section.menu { background: rgb(1,116,173); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(1,116,173,1) 0%, rgba(1,79,103,1) 24%, rgba(1,75,96,1) 50%, rgba(1,79,103,1) 79%, rgba(1,116,173,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(1,116,173,1)), color-stop(24%,rgba(1,79,103,1)), color-stop(50%,rgba(1,75,96,1)), color-stop(79%,rgba(1,79,103,1)), color-stop(100%,rgba(1,116,173,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(1,116,173,1) 0%,rgba(1,79,103,1) 24%,rgba(1,75,96,1) 50%,rgba(1,79,103,1) 79%,rgba(1,116,173,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(1,116,173,1) 0%,rgba(1,79,103,1) 24%,rgba(1,75,96,1) 50%,rgba(1,79,103,1) 79%,rgba(1,116,173,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(1,116,173,1) 0%,rgba(1,79,103,1) 24%,rgba(1,75,96,1) 50%,rgba(1,79,103,1) 79%,rgba(1,116,173,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(1,116,173,1) 0%,rgba(1,79,103,1) 24%,rgba(1,75,96,1) 50%,rgba(1,79,103,1) 79%,rgba(1,116,173,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0174ad', endColorstr='#0174ad',GradientType=1 ); /* IE6-9 */
}

.menu nav { width: 1300px; height: 100px; position: relative; left: 50%; margin-left: -650px; float: left;} /* +/- 1300px */
.menu nav h1 a img { max-width: 100%; padding-left: 63px;} /* 63px */
button.nav-button { display: none;}

ul.box-menu { width: 950px; position: absolute; right: 0; top: 0;} /*950px*/
ul.box-menu li.box-lista { width:237px; height: 100px; float: left; cursor: pointer;}
ul.box-menu li.box-lista { background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(227,227,227,1) 47%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(227,227,227,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(227,227,227,1) 47%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(227,227,227,1) 47%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(227,227,227,1) 47%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(227,227,227,1) 47%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 */}

ul.box-menu li:hover { background: url(../img/hover-menu.png) no-repeat;}
ul.box-menu li a { text-decoration: none; color: #333333; text-transform: uppercase; font-size: 1.6em; font-weight: bold;}
ul.box-menu li a { display: block; padding: 42px 0 0 50px;} /* 45px 60px*/ 
ul.box-menu li:hover a { color: #FFF;}
ul.box-menu li a.produtos { padding-left: 72px; padding-bottom: 41px;} /* 77px */
ul.box-menu li a.tecnologia { padding-left: 66px;} /* 72px */
ul.box-menu li a.midia { padding-left: 92px;} /* 96px */

li.sub-menu ul { width: 250px; display: none; float: left; position: absolute; right: 463px; top: 100px; z-index: 100; border-top: solid 5px #222222; border-bottom: solid 5px #222222;} /* 298px*/
li.sub-menu ul { background: rgb(4,122,160); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(4,122,160,1) 0%, rgba(6,143,171,1) 40%, rgba(8,162,181,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,122,160,1)), color-stop(40%,rgba(6,143,171,1)), color-stop(100%,rgba(8,162,181,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(4,122,160,1) 0%,rgba(6,143,171,1) 40%,rgba(8,162,181,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(4,122,160,1) 0%,rgba(6,143,171,1) 40%,rgba(8,162,181,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(4,122,160,1) 0%,rgba(6,143,171,1) 40%,rgba(8,162,181,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(4,122,160,1) 0%,rgba(6,143,171,1) 40%,rgba(8,162,181,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#047aa0', endColorstr='#08a2b5',GradientType=0 ); /* IE6-9 */}

li.sub-menu ul:before { content: '▼'; color: #222222; position: absolute; top: -2px; left: 114px;}
li.sub-menu ul li { width: 100%; padding-bottom: 10px; float: left; background: none; border-bottom: solid 1px #014b60; border-top: solid 1px #00ddff;}
li.sub-menu ul li:hover { background: none;}
li.sub-menu ul li a { color: #FFF;}
li.sub-menu ul li:first-child { border-top: none;}
li.sub-menu ul li:last-child { border-bottom: none; padding-bottom: 20px;}
li.sub-menu ul li h6 { font-size: 1.1em; margin: -20px 0 0 -30px; text-transform: none; float: left;}
li.sub-menu ul li h6 ~ p { font-size: 0.9em; margin: 5px 0 0 -17px; text-transform: none; font-weight: normal; padding-bottom: 3px;}
li.sub-menu ul li h6 ~ p:hover { color: #222222;}
ul.box-menu li.sub-menu:hover ul { display: block;}


section.container { width: 100%; height: 500px; background: url(../img/bk-container.png) repeat; float: left;}




section.container h2 { font-family:'Conv_MyriadPro-Bold',Sans-Serif; font-size: 8.0em; color: #222222; }
section.container h2 span { color: #079ab1;}


footer { width: 100%; height: 250px; float: left; background: #DDA;}