@font-face {
	font-family: 'Conv_calibri';
	src: url('fonts/calibri.eot');
	src: local('☺'), url('fonts/calibri.woff') format('woff'), url('fonts/calibri.ttf') format('truetype'), url('fonts/calibri.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_MyriadPro-Bold';
	src: url('fonts/MyriadPro-Bold.eot');
	src: local('☺'), url('fonts/MyriadPro-Bold.woff') format('woff'), url('fonts/MyriadPro-Bold.ttf') format('truetype'), url('fonts/MyriadPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body { font-family:'Conv_calibri', Sans-Serif; font-size: 10px!important;}

.h-container-top { width: 100%; min-width: 1300px; background: url(../img/bk-header.png) repeat; float: left; margin-top: 92px;} /* +/- 1300px */

.box-paralax { overflow: hidden;}

.h-container-bottom { width: 100%; min-width: 1300px; border-top: solid 8px #222222; border-bottom: solid 8px #222222; background: url(../img/bk-header.png) repeat; float: left;} /* +/- 1300px */
.h-container-footer { width: 100%; min-width: 1300px; background: url(../img/bk-header.png) repeat; float: left;}
.usuario { width: 280px; float: right; margin: 26px 15px 0 0;}
figure.wall { width: 120px; display: block; float: left; margin-right: 20px;}
figure.wall a { width: 24px; height: 18px; display: block; background: url(../img/wallpaper.png) no-repeat; background-position: 0 0; text-decoration: none; -webkit-transition: 0.1s ease-out; transition: 0.1s ease-out;}
figure.wall a:hover { background: url(../img/wallpaper.png) no-repeat; background-position: 0 -20px; -webkit-transition: 0.1s ease-in; transition: 0.1s ease-in;}
figure.wall figcaption { font-size: 1.2em; margin-left: 40px; padding-top: 3px; font-weight: bold; text-transform: uppercase; color: #dddddd; -webkit-transition: 0.1s ease-out; transition: 0.1s ease-out;}
figure.wall a:hover figcaption { color: #96bd05; -webkit-transition: 0.1s ease-in; transition: 0.1s ease-in;}
figure.contato { width: 130px; display: block; float: left;}
figure.contato a { width: 24px; height: 16px; margin-top: 2px; display: block; background: url(../img/contato.png) no-repeat; background-position: 0 0; text-decoration: none; -webkit-transition: 0.1s ease-out; transition: 0.1s ease-out;}
figure.contato a:hover { background: url(../img/contato.png) no-repeat; background-position: 0 -17px; -webkit-transition: 0.1s ease-in; transition: 0.1s ease-in;}
figure.contato figcaption { width: 97px; font-size: 1.2em; margin-left: 40px; padding-top: 3px; font-weight: bold; text-transform: uppercase; color: #dddddd; -webkit-transition: 0.1s ease-out; transition: 0.1s ease-out;}
figure.contato a:hover figcaption { color: #96bd05; -webkit-transition: 0.1s ease-in; transition: 0.1s ease-in;}

.h-news { width: 1300px; height: 50px; position: relative; left: 50%; margin-left: -650px; float: left;}
.newsletter { width: 750px; margin: 0 auto; margin-top: 0.5%;}
.newsletter input { width: 234px; height: 29px; float: left; background: url(../img/bk-news.png) no-repeat #222222; background-position: 7px 9px;}
.newsletter input { border: none; color: #666666; font-size: 1.3em; font-family:'Conv_calibri', Sans-Serif;}
.newsletter input { padding-left: 5px; text-indent: 30px; margin: 3px 0 0 20px;}
.newsletter button.vd { width: 117px; height: 31px; margin-top: 3px; float:left; border: none; background: url(../img/bt-news-hover.png) no-repeat; cursor: pointer;}
.newsletter button.vd { color: #FFF; text-transform: uppercase; font-size: 1.4em; font-weight: bold;}
.newsletter h5 { font-size: 1.4em; margin: 12px 15px 0 0; padding: 0; color: #96bd05; font-weight: normal; text-transform: uppercase; float: left;}
.newsletter h5 ~ p { color: #FFF; font-size: 1.3em; margin: 0; padding: 0; line-height: 18px; float: left;}

.newsletter-bottom button.az { width: 117px; height: 31px; margin-top: 3px; float:left; border: none; background: url(../img/bt-news-bottom.png) no-repeat; cursor: pointer;}
.newsletter-bottom button.az { color: #FFF; text-transform: uppercase; font-size: 1.4em; font-weight: bold;}
.newsletter-bottom h5 { font-size: 1.4em; color: #079ab1; float: left; font-weight: normal; text-transform: uppercase;}

section.menu { width: 100%; min-width: 1300px; float: left; border-bottom: solid 5px #96bd05; position: fixed; z-index: 9999; background: #014b60;}
section.menu { background: rgb(1,116,173); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(1,116,173,1) 0%, rgba(1,79,103,1) 24%, rgba(1,75,96,1) 50%, rgba(1,79,103,1) 79%, rgba(1,116,173,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(1,116,173,1)), color-stop(24%,rgba(1,79,103,1)), color-stop(50%,rgba(1,75,96,1)), color-stop(79%,rgba(1,79,103,1)), color-stop(100%,rgba(1,116,173,1))); /* Chrome,Safari4+ */background: -webkit-linear-gradient(left,  rgba(1,116,173,1) 0%,rgba(1,79,103,1) 24%,rgba(1,75,96,1) 50%,rgba(1,79,103,1) 79%,rgba(1,116,173,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(1,116,173,1) 0%,rgba(1,79,103,1) 24%,rgba(1,75,96,1) 50%,rgba(1,79,103,1) 79%,rgba(1,116,173,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(1,116,173,1) 0%,rgba(1,79,103,1) 24%,rgba(1,75,96,1) 50%,rgba(1,79,103,1) 79%,rgba(1,116,173,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(1,116,173,1) 0%,rgba(1,79,103,1) 24%,rgba(1,75,96,1) 50%,rgba(1,79,103,1) 79%,rgba(1,116,173,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0174ad', endColorstr='#0174ad',GradientType=1 ); /* IE6-9 */}

.menu nav { width: 1300px; position: relative; left: 50%; margin-left: -650px; float: left;} /* +/- 1300px */
.menu nav h1 a img { max-width: 100%; position: relative; top: -2px; float: left; clear: both; margin-left: 15px;} 
ul.box-menu { float: left; margin: -12px 0 0 50px; position: relative;}
ul.box-menu li.box-lista { float: left; cursor: pointer; padding: 28px 0 26px 0; position: relative; z-index: 800;}
ul.box-menu li.box-lista:hover { background: #FFFFFF;}
ul.box-menu li.box-lista:hover > a { border-right: solid 1px #FFFFFF; color: #222222;}
ul.box-menu li a { text-decoration: none; color: #dddddd; text-transform: uppercase; font-size: 1.3em; position: relative; font-weight: bold;}
ul.box-menu li a { display: block; border-right: solid 1px #015972;}
ul.box-menu li a.compre { padding: 10px 45px 10px 20px;}
ul.box-menu li a.produtos { padding: 10px 45px 10px 20px;}
ul.box-menu li a.tecnologia { padding: 10px 45px 10px 20px;}
ul.box-menu li a.midia:last-child { padding: 10px 20px 10px 20px; border: none;}
ul.box-menu li a.compre:before { content: '\2335'; position: absolute; right: 20px; top: 8px; -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}
ul.box-menu li.box-lista:hover > a.compre:before { color: #222222; -webkit-transform: rotate(-180deg); transform: rotate(-180deg); top: 12px; -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
ul.box-menu li a.produtos:before { content: '\2335'; position: absolute; right: 20px; top: 8px; -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}
ul.box-menu li.box-lista:hover > a.produtos:before { color: #222222; -webkit-transform: rotate(-180deg); transform: rotate(-180deg); top: 12px; -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
ul.box-menu li a.tecnologia:before { content: '\2335'; position: absolute; right: 20px; top: 8px; -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;} 
ul.box-menu li.box-lista:hover > a.tecnologia:before { color: #222222; -webkit-transform: rotate(-180deg); transform: rotate(-180deg); top: 12px; -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}

li.sub-menu ul { width: 225px; display: none; padding-bottom: 8px; position: absolute; top: 87px; float: left; z-index: 100; background: #FFFFFF;}
li.sub-menu ul li h6 { width: 183px; padding: 8px 0 8px 42px; text-transform: uppercase; font-size: 1.2em; float: left; color: #222222; margin: 5px 0 0 0;}
li.sub-menu ul li:first-child h6 { margin-bottom: -7px;}
li.sub-menu ul li h6:before { content: '\2335'; position: absolute; left: 23px; -webkit-transform: rotate(-90deg); transform: rotate(-90deg);}
li.sub-menu ul li h6:hover { width: 177px; color: #FFFFFF; background: #96bd05; padding: 8px 0 8px 48px; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
li.sub-menu ul li p a { font-size: 1.1em; float: left; padding: 12px 0 0 40px; font-weight: normal; color: #222222; -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out; clear: both; border: none;}
li.sub-menu ul li p a:hover { color: #96bd05; padding: 12px 0 0 46px; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
ul.box-menu li.sub-menu:hover ul { display: block;}

li.sub-menu-links ul { width: 225px; display: none; padding-bottom: 8px; float: left; position: absolute; top: 87px; background: #FFFFFF;}
li.sub-menu-links ul li a {  font-size: 1.2em; margin-top: 5px; padding: 8px 0 8px 42px; border: none; color: #222222; -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;}
li.sub-menu-links ul li:first-child a { margin-top: 15px;}
li.sub-menu-links ul li a:before { content: '\2335'; position: absolute; left: 23px; top: 8px; -webkit-transform: rotate(-90deg); transform: rotate(-90deg);}
li.sub-menu-links ul li a:hover { color: #FFFFFF; background: #96bd05; padding: 8px 0 8px 48px; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
ul.box-menu li.sub-menu-links:hover ul { display: block;}

.container { width: 100%; background: url(../img/bk-container.png) repeat; float: left;}

section.galeria { width: 100%; float: left; overflow: hidden;}

.lancamentos { width: 1300px; position: relative; left: 50%; margin-left: -650px; float: left; padding-top: 80px;} /* +/- 1300px */
.lancamentos h2 { font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif; text-align: center; font-size: 8.0em; color: #222222; margin: 0; padding: 0;}
.lancamentos h2 span { color: #079ab1;}
div.g-produtos { width: 1300px; overflow: hidden; position: relative; float: left; margin: 50px 0 30px 0;}
div.g-produtos ul { width: 1700px; float: left; margin: 0; padding: 0; position: relative;}
div.g-produtos ul li a { width: 338px; height: 468px; display: inline; position: relative; float: left; border: solid 1px transparent;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
div.g-produtos ul li:hover a { border: solid 1px #047da2; background: #FFF; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
div.g-produtos ul li:first-child { margin: 0 0 0 100px;}
div.g-produtos ul li { margin: 0 0 0 40px; float: left;}
div.g-produtos ul li:nth-child(3) { margin: 0 70px 0 40px;}
div.g-produtos ul li img { max-width: 100%; float: left;}
div.g-produtos ul li a h4 { font-size: 2.0em; color: #333333; float: left; position: absolute; z-index: 100; left: 25px; bottom: 50px; display: none;}
div.g-produtos ul li a h4 ~ p { font-size: 1.6em; color: #333333; float: left; position: absolute; z-index: 100; left: 25px; bottom: 20px; display: none;}
div.g-produtos ul li a hr { width: 290px; height: 0px; font-weight: bold; position: absolute; z-index: 100; left: 25px; bottom: 60px; display: none; color: #222222;}
div.g-produtos ul li a:hover h4 ~ p { display: block;}
div.g-produtos ul li a:hover h4 { display: block;}
div.g-produtos ul li a:hover hr { display: block;}
div.g-produtos ul li a { -webkit-transition: 0.1s ease-out; transition: 0.1s ease-out;}
div.g-produtos ul li a:hover { -webkit-transition: 0.1s ease-in; transition: 0.1s ease-in;}
span a.s-esquerda { width: 72px; height: 72px; position: absolute; z-index: 100; top: 425px; left: 0; background: url(../img/s-esquerda.jpg) no-repeat;}
span a.s-esquerda:hover { background: url(../img/s-esquerda-hover.jpg) no-repeat;}
span a.s-direita { width: 72px; height: 72px; position: absolute; z-index: 100; top: 425px; right: 0; background: url(../img/s-direita.jpg) no-repeat;}
span a.s-direita:hover { background: url(../img/s-direita-hover.jpg) no-repeat;}
span.linha-home { width: 100%; position: relative; display: block; float: left; border-top: solid 1px #01607d; border-bottom: solid 1px #079ab1; margin-bottom: 44px;}
span.linha-home img { position: absolute; left: 50%; top: -1px;}

.box-home { width: 1300px; position: relative; left: 50%; margin-left: -650px; float: left;}
.tec-bouts { width: 1300px; height: 220px; float: left;}
.tec-bouts h3 { width: 285px; height: 18px; background: url(../img/dt-box-home.jpg) no-repeat; margin: 0; padding: 5px;}
.tec-bouts h3 { font-size: 2.0em; color: #222222; text-transform: uppercase; text-indent: 50px;}
.tec-bouts ul { width: 100%; float: left; margin-top: 10px; overflow: hidden; }
.tec-bouts ul li { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.tec-bouts ul li { width: 315px; height: 180px; margin-left: 10.6px; float: left; border: solid 1px #999999; cursor: pointer; position: relative;}
.tec-bouts ul li:first-child { margin: 0 0 0 0px;}
.tec-bouts ul li { background: url(../img/gel-ts.png) no-repeat #FFF;}

.tec-bouts ul li a { padding: 0px 0px; text-decoration: none; float: left; background: rgba(255,255,255,0); -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;}
.tec-bouts ul li:hover a { padding: 43.8px 0px; text-decoration: none; float: left; background: rgba(0,0,0,0.8); -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
.tec-bouts ul li:hover a p:nth-child(1) { margin: 10px 0 0 0; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
.tec-bouts ul li:hover a p:nth-child(3) { margin: 30px 0 0 0; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in; }
.tec-bouts ul li:hover a span { top: 10px; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}

.tec-bouts ul li a p:nth-child(1) { 
	font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif;
	width: 313.5px;
	float: left; 
    font-size: 3.4em; 
    font-weight: bold; 
    color: #FFF; 
    text-align:center;
    margin: -40px 0 0 0;
    -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;
}

.tec-bouts ul li a p:nth-child(3) { 
	font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif; 
	width: 313.5px;
	text-align: center;
	float: left;
	color: #FFF; 
	margin: -50px 0 0 0;
	font-size: 1.6em;
	-webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;
}

.tec-bouts ul li a span { 
	width: 150px; 
	float: left;
	border-top: solid 1px #000000; 
	border-bottom: solid 1px #999999;
	-webkit-transition: 0.7s ease-out; transition: 0.7s ease-out;
	display: block;
	position: relative;
	top: -10px;
	left: 25%
}

.tendencias { width: 1300px; float: left; margin: 100px 0 90px 0;}
.tendencias h3 { width: 285px; height: 18px; background: url(../img/dt-box-home.jpg) no-repeat; margin: 0; padding: 5px;}
.tendencias h3 { font-size: 2.0em; color: #222222; text-transform: uppercase; text-indent: 50px;}
div.video { width: 640px; height: 437px; border: solid 1px #222222; float: left; margin-top: 10px;}
div.campanha { width: 640px; height: 437px; border: solid 1px #222222; float: right; margin-top: 10px;}

/*Pagina Produtos*/
.h-produtos { width: 1300px; position: relative; left: 50%; margin-left: -650px; float: left;}
.h-produtos h2 { font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif; font-size: 6.0em; color: #e7ff43; margin: 20px 0 0 75px;}
.h-produtos div { margin: 20px 0 20px 79px;}
.h-produtos div ul li { display: inline;}
.h-produtos div ul li a { margin-right:10px; text-decoration: none; font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif; font-size: 1.8em; color: #FFFFFF;}
.h-produtos div ul li a.dt-voltar { padding: 0 0 0 30px; background: url(../img/st-caminho.png) no-repeat; background-position: 0 3px;}
.h-produtos div ul.box-produto { margin: 12px 0 0 30px;}
.h-produtos div ul.box-produto li a.tt-produto { font-size: 3.0em; font-weight: bold; font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif;}
.h-produtos div ul.box-produto li a { font-size: 3.0em; font-weight: bold; font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif;}

section.pg-produtos { width: 1300px; position: relative; left: 50%; margin: 20px 0 95px -650px; float: left; background: #787}
section.pg-produtos ul { width: 100%; float: left; overflow: hidden; margin: 25px 0 0 0;}
section.pg-produtos ul li { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
section.pg-produtos ul li { width: 400px; height: 250px; margin: 0 0 0 25px; float: left; border: solid 1px #999999; cursor: pointer; position: relative;}
section.pg-produtos ul li a { padding: 0px 0px; text-decoration: none; float: left; background: rgba(255,255,255,0); -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;}
section.pg-produtos ul li:hover a { padding: 65.8px 0px; text-decoration: none; float: left; background: rgba(0,0,0,0.8); -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
section.pg-produtos ul li:hover a p:nth-child(1) { margin: 18px 0 0 0; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
section.pg-produtos ul li:hover a p:nth-child(3) { margin: 40px 0 0 0; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
section.pg-produtos ul li:hover a span { top: 20px; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}

/*Modelos*/
section.pg-produtos ul li.base { background: url(../img/produtos/base.png) no-repeat #FFF;}
section.pg-produtos ul li.step { background: url(../img/produtos/step.png) no-repeat #FFF;}
section.pg-produtos ul li.light { background: url(../img/produtos/light.png) no-repeat #FFF;}

section.pg-produtos ul li a p:nth-child(1) { 
	font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif;
	width: 398px;
	float: left; 
    font-size: 3.8em; 
    font-weight: bold; 
    color: #FFF; 
    text-align:center;
    margin: -50px 0 0 0;
    -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;
}

section.pg-produtos ul li a p:nth-child(3) { 
	font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif; 
	width: 398px;
	text-align: center;
	float: left;
	color: #FFF; 
	margin: -40px 0 0 0;
	font-size: 1.8em;
	-webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;
}

section.pg-produtos ul li a span { 
	width: 200px; 
	float: left;
	border-top: solid 1px #000000; 
	border-bottom: solid 1px #999999;
	-webkit-transition: 0.7s ease-out; transition: 0.7s ease-out;
	display: block;
	position: relative;
	top: -50px;
	left: 25%
}


section.pg-midia { width: 1300px; position: relative; left: 50%; margin-left: -650px; float: left;}
section.pg-midia div { width: 970px; float: left; position: relative; left: 50%; margin: 38px 0 0 -485px; padding-bottom: 90px;}
section.pg-midia div h3 { font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif; color: #222222; font-size: 3.0em; font-weight: bold; text-align: center;}
section.pg-midia div ul { width: 970px;}
section.pg-midia div ul li.video-principal { width: 640px; height: 360px; margin: 0 auto;}
section.pg-midia div ul li.video-secundario { float: left; width: 317px; height: 180px; margin-right: 6px; margin-top: 60px;}
section.pg-midia div ul li figcaption { font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif; font-weight: bold; color: #222222; font-size: 1.6em;}

section.pg-dt-produto { width: 1300px; position: relative; left: 50%; margin-left: -650px; float: left;}


section.pg-tecnologia { width: 1300px; position: relative; left: 50%; margin-left: -650px; float: left;}

.pg-tec { width: 1300px; height: 220px; float: left; background: #CCC; margin-top: 30px; margin-bottom: 30px;}
.pg-tec h3 { width: 480px; height: 18px; background: url(../img/dt-box-home.jpg) no-repeat; margin: 0; padding: 5px;}
.pg-tec h3 { font-size: 2.0em; color: #222222; text-transform: uppercase; text-indent: 50px;}



.pg-tec ul { width: 100%; float: left; margin-top: 10px;}
.pg-tec ul li { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.pg-tec ul li { width: 315px; height: 180px; margin-left: 10.6px; float: left; border: solid 1px #999999; cursor: pointer; position: relative;}
.pg-tec ul li:first-child { margin: 0 0 0 5px;}

.pg-tec ul li.flyts-01 { background: url(../img/produtos/flyts-1.png) no-repeat #FFF; overflow: hidden;}
.pg-tec ul li.flyts-02 { background: url(../img/produtos/flyts-2.png) no-repeat #FFF; overflow: hidden;}
.pg-tec ul li.flyts-03 { background: url(../img/produtos/flyts-3.png) no-repeat #FFF; overflow: hidden;}
.pg-tec ul li.flyts-04 { background: url(../img/produtos/flyts-4.png) no-repeat #FFF; overflow: hidden;}

.pg-tec ul li a.effect-top { padding: 0px 182px 0px 131.5px; text-decoration: none; float: left; background: rgba(255,255,255,0); -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;}
.pg-tec ul li a.effect-top img { margin: -60px 0 0 0; position: absolute; -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;}
.pg-tec ul li:hover a.effect-top { padding: 63px 182px 115px 131.5px; text-decoration: none; float: left; background: rgba(0,0,0,0.8); -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
.pg-tec ul li:hover a.effect-top img { margin: 0px 0 0 0; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}

.pg-tec ul li a.effect-left { padding: 63px 0px 115px 0px; text-decoration: none; float: left; background: rgba(255,255,255,0); -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;}
.pg-tec ul li a.effect-left img { margin: 0 0 0 -170px; position: absolute; -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;}
.pg-tec ul li:hover a.effect-left { padding: 63px 182px 115px 131.5px; text-decoration: none; float: left; background: rgba(0,0,0,0.8); -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
.pg-tec ul li:hover a.effect-left img { margin: 0 0 0 0px; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}

.pg-tec ul li a.effect-bottom { padding: 63px 182px 115px 131.5px; margin: 179px 0 0 0; text-decoration: none; float: left; background: rgba(255,255,255,0); -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;}
.pg-tec ul li a.effect-bottom img { margin: 0 0 0 0; position: absolute; -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;}

.pg-tec ul li:hover a.effect-bottom { padding: 63px 182px 115px 131.5px; margin: 0px 0 0 0; text-decoration: none; float: left; background: rgba(0,0,0,0.8); -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
.pg-tec ul li:hover a.effect-bottom img { margin: 0 0 0 0; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}


































section.pg-wallpaper { width: 1300px; position: relative; left: 50%; margin-left: -650px; float: left;}







footer { width: 100%; float: left; background: #eeeeee;}
section.menu-bottom { width: 900px; height: 333px; float: left; position: relative; left: 50%; margin-left: -450px;}
section.menu-bottom ul.mb-comprar { margin: 65px 0 0 65px; float: left;}
section.menu-bottom ul li a.tt-menu-bottom { font-size: 1.5em; font-weight: bold; color: #333333; margin: 0 0 0 0;}
section.menu-bottom ul li a { text-decoration: none; display: list-item; margin: 15px 0 0 5px; font-size: 1.3em; color: #333333;}
section.menu-bottom ul li a.txt-menu-bottom:hover { color: #079ab1;}
section.menu-bottom ul.mb-produtos { margin: 65px 0 0 100px; float: left;}
section.menu-bottom ul.mb-tecnoligia { margin: 65px 0 0 110px; float: left;}
section.menu-bottom ul.info { margin: 65px 0 0 102px; float: left;}
section.menu-bottom ul.mb-redes { width: 200px; margin: 50px 0 0 102px; float: left;}
section.menu-bottom ul.mb-redes li a.box-mb-redes { display: inline-block; float: left; -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;}
section.menu-bottom ul.mb-redes li a.box-mb-redes:hover { -webkit-transform: scale(1.1); transform: scale(1.1); -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
section.menu-bottom ul.mb-redes li a.box-mb-redes { width: 44px; height: 44px; display: block; text-indent: -9999px;}
section.menu-bottom ul.mb-redes li a[href*="facebook.com"] { background-image: url(../img/ico-face.png); margin-left: -1px;}
section.menu-bottom ul.mb-redes li a:hover[href*="facebook.com"] { background-image: url(../img/ico-face-hover.png);}
section.menu-bottom ul.mb-redes li a[href*="twitter.com"] { background-image: url(../img/ico-twitter.png);}
section.menu-bottom ul.mb-redes li a:hover[href*="twitter.com"] { background-image: url(../img/ico-twitter-hover.png);}
section.menu-bottom ul.mb-redes li a[href*="youtube.com"] { background-image: url(../img/ico-youtube.png);}
section.menu-bottom ul.mb-redes li a:hover[href*="youtube.com"] { background-image: url(../img/ico-youtube-hover.png);}
section.menu-bottom ul.mb-redes li a[href*="instagram.com"] { background-image: url(../img/ico-instagram.png);}
section.menu-bottom ul.mb-redes li a:hover[href*="instagram.com"] { background-image: url(../img/ico-instagram-hover.png);}
div.copyright { width: 1300px; height: 163px; position: relative; left: 50%; margin-left: -650px; float: left;}
div.copyright figure.bouts-copyright { text-align: center; margin-top: 33px;}
div.copyright figure.bouts-copyright figcaption { margin-top: 30px; font-size: 1.4em; color: #cccccc;}
section.bee-happy { width: 100%; height: 50px; text-align: center; float: left; color: #333333; font-size: 1.3em;}
section.bee-happy p a { text-decoration: none; color: #96bd05; font-weight: bold;}