@font-face {
	font-family: 'Conv_calibri';
	src: url('fonts/calibri.eot');
	src: local('☺'), url('fonts/calibri.woff') format('woff'), url('fonts/calibri.ttf') format('truetype'), url('fonts/calibri.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_MyriadPro-Bold';
	src: url('fonts/MyriadPro-Bold.eot');
	src: local('☺'), url('fonts/MyriadPro-Bold.woff') format('woff'), url('fonts/MyriadPro-Bold.ttf') format('truetype'), url('fonts/MyriadPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body { font-family:'Conv_calibri', Sans-Serif; font-size: 10px!important;}

.h-container { width: 100%; min-width: 1300px; background: url(../img/bk-header.png) repeat; float: left;} /* +/- 1300px */

.h-topo { width: 1300px; height: 60px; position: relative; left: 50%; margin-left: -650px; float: left;} /* +/- 1300px */

.redes-sociais { margin: 21px 0 0 65px; width: 230px;}
.twitter { float: left;}
.fb-like { float: left; margin-right: 15px;}

.usuario { width: 280px; float: right; margin: 0 0 0 0;}
figure.wall { width: 120px; display: block; float: left; margin-right: 20px;}
figure.wall a { width: 24px; height: 18px; display: block; background: url(../img/wallpaper.png) no-repeat; text-decoration: none;}
figure.wall a:hover { background: url(../img/wallpaper-hover.png) no-repeat;}
figure.wall figcaption { font-size: 1.2em; margin-left: 40px; padding-top: 3px; font-weight: bold; text-transform: uppercase; color: #dddddd;}
figure.contato { width: 130px; display: block; float: left;}
figure.contato a { width: 24px; height: 16px; margin-top: 2px; display: block; background: url(../img/contato.png) no-repeat; text-decoration: none;}
figure.contato a:hover { background: url(../img/contato-hover.png) no-repeat;}
figure.contato figcaption { width: 97px; font-size: 1.2em; margin-left: 40px; padding-top: 3px; font-weight: bold; text-transform: uppercase; color: #dddddd;}

.h-news { width: 1300px; height: 110px; position: relative; left: 50%; margin-left: -650px; float: left;} /* +/- 1300px */

.newsletter { width: 860px; float: right; margin: 15px 180px 0 0;}
.newsletter input { width: 302px; height: 39px; margin-top: 17px; float: left; background: url(../img/bk-news.png) no-repeat #222222; background-position: 14px 11px;}
.newsletter input { border: none; color: #666666; font-size: 1.4em; font-family:'Conv_calibri', Sans-Serif;}
.newsletter input { padding-left: 5px; text-indent: 50px;}
.newsletter button.vd { width: 169px; height: 41px; margin-top: 17px; float:left; border: none; background: url(../img/bt-news.png) no-repeat; cursor: pointer;}
.newsletter button.vd:hover { background: url(../img/bt-news-hover.png) no-repeat;}
.newsletter button.vd { color: #FFF; text-transform: uppercase; font-size: 1.4em; font-weight: bold;}
.newsletter h5 { font-size: 1.7em; color: #96bd05; float: left; font-weight: normal;}
.newsletter h5 ~ p { float: left; color: #FFF; font-size: 1.3em; margin: 20px 15px 0 20px; line-height: 18px;}

section.menu { width: 100%; height: 100px; min-width: 1300px; float: left; border-bottom: solid 5px #222222;}
section.menu { background: rgb(1,116,173); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(1,116,173,1) 0%, rgba(1,79,103,1) 24%, rgba(1,75,96,1) 50%, rgba(1,79,103,1) 79%, rgba(1,116,173,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(1,116,173,1)), color-stop(24%,rgba(1,79,103,1)), color-stop(50%,rgba(1,75,96,1)), color-stop(79%,rgba(1,79,103,1)), color-stop(100%,rgba(1,116,173,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(1,116,173,1) 0%,rgba(1,79,103,1) 24%,rgba(1,75,96,1) 50%,rgba(1,79,103,1) 79%,rgba(1,116,173,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(1,116,173,1) 0%,rgba(1,79,103,1) 24%,rgba(1,75,96,1) 50%,rgba(1,79,103,1) 79%,rgba(1,116,173,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(1,116,173,1) 0%,rgba(1,79,103,1) 24%,rgba(1,75,96,1) 50%,rgba(1,79,103,1) 79%,rgba(1,116,173,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(1,116,173,1) 0%,rgba(1,79,103,1) 24%,rgba(1,75,96,1) 50%,rgba(1,79,103,1) 79%,rgba(1,116,173,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0174ad', endColorstr='#0174ad',GradientType=1 ); /* IE6-9 */
}

.menu nav { width: 1300px; height: 100px; position: relative; left: 50%; margin-left: -650px; float: left;} /* +/- 1300px */
.menu nav h1 a img { max-width: 100%; padding-left: 63px;} /* 63px */

button.nav-button { display: none;}

ul.box-menu { width: 950px; position: absolute; right: 0; top: 0;} /*950px*/
ul.box-menu li.box-lista { width:237px; float: left; cursor: pointer;}
ul.box-menu li.box-lista { background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(227,227,227,1) 47%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(227,227,227,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(227,227,227,1) 47%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(227,227,227,1) 47%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(227,227,227,1) 47%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(227,227,227,1) 47%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 */}

ul.box-menu li:hover { background: url(../img/hover-menu.png) no-repeat;}
ul.box-menu li a { text-decoration: none; color: #333333; text-transform: uppercase; font-size: 1.6em; font-weight: bold;}
ul.box-menu li a { display: block; padding: 42px 0 41px 0;} /* 45px 60px*/ 
ul.box-menu li:hover a { color: #FFF;}
ul.box-menu li a.produtos:before { content: '\25B8'; color: #222222; position: relative; right: -165px;}
ul.box-menu li a.produtos:hover:before { content: '\25BE'; color: #FFF;}
ul.box-menu li a.compre { padding-left: 30px;}
ul.box-menu li a.produtos { padding-left: 50px;} /* 77px */
ul.box-menu li a.tecnologia { padding-left: 66px;} /* 72px */
ul.box-menu li a.midia { padding-left: 92px;} /* 96px */

li.sub-menu ul { width: 250px; display: none; float: left; position: absolute; right: 463px; top: 100px; z-index: 100; border-top: solid 5px #222222; border-bottom: solid 5px #222222;} /* 298px*/
li.sub-menu ul { background: rgb(4,122,160); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(4,122,160,1) 0%, rgba(6,143,171,1) 40%, rgba(8,162,181,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,122,160,1)), color-stop(40%,rgba(6,143,171,1)), color-stop(100%,rgba(8,162,181,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(4,122,160,1) 0%,rgba(6,143,171,1) 40%,rgba(8,162,181,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(4,122,160,1) 0%,rgba(6,143,171,1) 40%,rgba(8,162,181,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(4,122,160,1) 0%,rgba(6,143,171,1) 40%,rgba(8,162,181,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(4,122,160,1) 0%,rgba(6,143,171,1) 40%,rgba(8,162,181,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#047aa0', endColorstr='#08a2b5',GradientType=0 ); /* IE6-9 */}

li.sub-menu ul:before { content: '▼'; color: #222222; position: absolute; top: -2px; left: 114px;}
li.sub-menu ul li { width: 100%; padding-bottom: 10px; float: left; background: none; border-bottom: solid 1px #014b60; border-top: solid 1px #00ddff; }
li.sub-menu ul li:hover { background: none;}
li.sub-menu ul li:first-child { border-top: none;}
li.sub-menu ul li:last-child { border-bottom: none; padding-bottom: 20px;}

li.sub-menu ul li h6 { width: 225px; margin: 14px 0 0 20px; text-transform: uppercase; font-size: 1.4em; float: left; color: #FFF;}
li.sub-menu ul li p a { font-size: 1.0em; margin: 7px 0 5px 33px; float: left; clear: both; padding: 0; font-weight: normal; color: #FFF; -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;}
li.sub-menu ul li p a:hover { margin: 7px 0 5px 38px; color: #222222; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
ul.box-menu li.sub-menu:hover ul { display: block;}

li.sub-menu-links ul { width: 236px; display: none; float: left; position: absolute; left: 1px; top: 100px; z-index: 100; border-top: solid 5px #222222; border-bottom: solid 5px #222222;} /* 298px*/
li.sub-menu-links ul { background: rgb(4,122,160); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(4,122,160,1) 0%, rgba(6,143,171,1) 40%, rgba(8,162,181,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,122,160,1)), color-stop(40%,rgba(6,143,171,1)), color-stop(100%,rgba(8,162,181,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(4,122,160,1) 0%,rgba(6,143,171,1) 40%,rgba(8,162,181,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(4,122,160,1) 0%,rgba(6,143,171,1) 40%,rgba(8,162,181,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(4,122,160,1) 0%,rgba(6,143,171,1) 40%,rgba(8,162,181,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(4,122,160,1) 0%,rgba(6,143,171,1) 40%,rgba(8,162,181,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#047aa0', endColorstr='#08a2b5',GradientType=0 ); /* IE6-9 */}
li.sub-menu-links ul:before { content: '▼'; color: #222222; position: absolute; top: -2px; left: 108px;}
li.sub-menu-links ul li { width: 100%; float: left;}
li.sub-menu-links ul li:hover { background: none;}
li.sub-menu-links ul li { border-bottom: solid 1px #014b60; border-top: solid 1px #00ddff; }
li.sub-menu-links ul li:first-child { border-top: none;}
li.sub-menu-links ul li:last-child { border-bottom: none;}
li.sub-menu-links a.compre:before { content: '\25B8'; color: #222222; position: relative; right: -185px;}
li.sub-menu-links a.compre:hover:before { content: '\25BE'; color: #FFF;}
li.sub-menu-links ul li a { font-size: 1.2em; padding: 15px 0 15px 20px; color: #FFF; -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;}
li.sub-menu-links ul li a:hover { color: #222222; padding: 15px 0 15px 25px; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
ul.box-menu li.sub-menu-links:hover ul { display: block;}

.container { width: 100%; background: url(../img/bk-container.png) repeat; float: left;}
section.galeria img { max-width: 99.9%;}


.lancamentos { width: 1300px; background: #DE0; position: relative; left: 50%; margin-left: -650px; float: left;} /* +/- 1300px */
.lancamentos div.g-produtos { width: 1300px; background: #DCC; overflow: hidden; position: relative; float: left; margin-top: 100px; margin-bottom: 100px;}
.lancamentos div.g-produtos ul { width: 3000px; height: 470px; float: left; margin: 0; padding: 0; position: relative;}
.lancamentos div.g-produtos ul li { width: 340px; height: 470px; background: #FFF; border: solid 1px #068daa; display: inline-block;}
.lancamentos div.g-produtos ul li { margin: 0 0 0 33px;}

.lancamentos div.g-produtos ul li.xxx { margin: 0 0 0 100px;}

span a.s-esquerda { width: 72px; height: 72px; position: absolute; z-index: 100; top: 200px; left: 0; background: url(../img/s-esquerda.jpg) no-repeat;}
span a.s-esquerda:hover { background: url(../img/s-esquerda-hover.jpg) no-repeat;}

span a.s-direita { width: 72px; height: 72px; position: absolute; z-index: 100; top: 200px; right: 0; background: url(../img/s-direita.jpg) no-repeat;}
span a.s-direita:hover { background: url(../img/s-direita-hover.jpg) no-repeat;}







footer { width: 100%; float: left; background: #DDA;}