/*@font-face {
	font-family: 'Conv_calibri';
	src: url('../fonts/calibri.eot');
	src: local('☺'), url('fonts/calibri.woff') format('woff'), url('fonts/calibri.ttf') format('truetype'), url('../fonts/calibri.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_MyriadPro-Bold';
	src: url('../fonts/MyriadPro-Bold.eot');
	src: local('☺'), url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype'), url('../fonts/MyriadPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

body { font-family: 'Conv_calibri', sans-serif; font-size: 10px!important;}

.h-container-top { width: 100%; min-width: 1300px; background: url(../img/bk-header.png) repeat; float: left; margin-top: 92px; position: relative;}
.box-paralax { overflow: hidden;}
.h-container-bottom { width: 100%; min-width: 1300px; border-top: solid 8px #222222; border-bottom: solid 8px #222222; background: url(../img/bk-header.png) repeat; float: left;}
.h-container-footer { width: 100%; min-width: 1300px; background: url(../img/bk-header.png) repeat; float: left;}

.usuario { width: 280px; float: right; margin: 26px 60px 0 0;}
figure.wall { width: 120px; display: block; float: left; margin-right: 10px;}
figure.contato { width: 135px; display: block; float: left;}
figure.wall a { height: 14px; background: url(../img/wallpaper.png) no-repeat scroll top center;}
figure.contato a { height: 13px; background: url(../img/contato.png) no-repeat scroll top center;}
figure.wall a:hover, figure.contato a:hover { background-position: bottom center; color: #96bd05; -webkit-transition: 0.1s ease-in; transition: 0.1s ease-in;}
figure.wall a, figure.contato a { width: 24px; display: block; text-indent: 40px; font-size: 1.2em; padding-top: 3px; font-weight: bold; text-transform: uppercase; color: #dddddd; text-decoration: none; -webkit-transition: 0.1s ease-out; transition: 0.1s ease-out;}

.h-news { width: 1300px; height: 50px; position: relative; left: 50%; margin-left: -650px; float: left;}
.newsletter { width: 800px; margin: 0 auto; margin-top: 0.5%;}

.newsletter input { width: 234px; height: 29px; float: left; background: url(../img/bk-news.png) no-repeat #222222; background-position: 7px 9px;}
.newsletter input { border: none; color: #666666; font-size: 1.3em; font-family:'Conv_calibri', Sans-Serif;}
.newsletter input { padding-left: 5px; text-indent: 30px; margin: 3px 0 0 20px;}
.newsletter button.vd { width: 117px; height: 31px; margin-top: 3px; float:left; border: none; background: url(../img/bt-news-hover.png) no-repeat; cursor: pointer;}
.newsletter button.vd { color: #FFF; text-transform: uppercase; font-size: 1.4em; font-weight: bold;}
.newsletter h5 { font-size: 1.4em; margin: 12px 15px 0 0; padding: 0; color: #96bd05; font-weight: normal; text-transform: uppercase; float: left;}
.newsletter h5 ~ p { color: #FFF; font-size: 1.3em; margin: 0; padding: 0; line-height: 18px; float: left;}
.newsletter-bottom button.az { width: 117px; height: 31px; margin-top: 3px; float:left; border: none; background: url(../img/bt-news-bottom.png) no-repeat; cursor: pointer;}
.newsletter-bottom button.az { color: #FFF; text-transform: uppercase; font-size: 1.4em; font-weight: bold;}
.newsletter-bottom h5 { font-size: 1.4em; color: #079ab1; float: left; font-weight: normal; text-transform: uppercase;}

section.menu { width: 100%; min-width: 1300px; float: left; border-bottom: solid 5px #96bd05; position: fixed; z-index: 9999; background: #014b60;}
section.menu { background: rgb(1,116,173); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(1,116,173,1) 0%, rgba(1,79,103,1) 24%, rgba(1,75,96,1) 50%, rgba(1,79,103,1) 79%, rgba(1,116,173,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(1,116,173,1)), color-stop(24%,rgba(1,79,103,1)), color-stop(50%,rgba(1,75,96,1)), color-stop(79%,rgba(1,79,103,1)), color-stop(100%,rgba(1,116,173,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(1,116,173,1) 0%,rgba(1,79,103,1) 24%,rgba(1,75,96,1) 50%,rgba(1,79,103,1) 79%,rgba(1,116,173,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,rgba(1,116,173,1) 0%,rgba(1,79,103,1) 24%,rgba(1,75,96,1) 50%,rgba(1,79,103,1) 79%,rgba(1,116,173,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,rgba(1,116,173,1) 0%,rgba(1,79,103,1) 24%,rgba(1,75,96,1) 50%,rgba(1,79,103,1) 79%,rgba(1,116,173,1) 100%); /* IE10+ */
background: linear-gradient(to right,rgba(1,116,173,1) 0%,rgba(1,79,103,1) 24%,rgba(1,75,96,1) 50%,rgba(1,79,103,1) 79%,rgba(1,116,173,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0174ad', endColorstr='#0174ad',GradientType=1 ); /* IE6-9 */}

.menu nav { width: 1300px; position: relative; left: 50%; margin-left: -650px; float: left;}
.menu nav h1 a img { max-width: 100%; position: relative; top: -2px; float: left; clear: both; margin-left: 15px;} 
ul.box-menu { float: left; margin: -12px 0 0 50px; position: relative;}
ul.box-menu li.box-lista { float: left; cursor: pointer; padding: 28px 0 26px 0; position: relative;}
ul.box-menu li.box-lista:hover { background: #FFFFFF;}
ul.box-menu li.box-lista:hover > a { border-right: solid 1px #FFFFFF; color: #222222;}
ul.box-menu li a { text-decoration: none; color: #dddddd; text-transform: uppercase; font-size: 1.3em; position: relative; font-weight: bold;}
ul.box-menu li a { display: block; border-right: solid 1px #015972;}
ul.box-menu li a.compre { padding: 10px 45px 10px 20px;}
ul.box-menu li a.produtos { padding: 10px 45px 10px 20px;}
ul.box-menu li a.tecnologia { padding: 10px 45px 10px 20px;}
ul.box-menu li a.midia:last-child { padding: 10px 20px 10px 20px; border: none;}
ul.box-menu li a.compre:before { content: '\2335'; position: absolute; z-index: 200; right: 20px; top: 8px; -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}
ul.box-menu li.box-lista:hover > a.compre:before { color: #222222; -webkit-transform: rotate(-180deg); transform: rotate(-180deg); top: 12px; -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
ul.box-menu li a.produtos:before { content: '\2335'; position: absolute; z-index: 200; right: 20px; top: 8px; -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}
ul.box-menu li.box-lista:hover > a.produtos:before { color: #222222; -webkit-transform: rotate(-180deg); transform: rotate(-180deg); top: 12px; -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
ul.box-menu li a.tecnologia:before { content: '\2335'; position: absolute; z-index: 200; right: 20px; top: 8px; -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;} 
ul.box-menu li.box-lista:hover > a.tecnologia:before { color: #222222; -webkit-transform: rotate(-180deg); transform: rotate(-180deg); top: 12px; -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}

li.sub-menu ul { width: 225px; display: none; padding: 0 0 8px 0; position: absolute; top: 87px; float: left; z-index: 100; background: #FFFFFF;}
li.sub-menu ul li { overflow: hidden; float: left;}
li.sub-menu ul li h6 a { margin: -10px 0 0 0; border: none; z-index: 15; width: 183px; background: #FFFFFF; padding: 3px 0 3px 42px; text-transform: uppercase; font-size: 1.8em; float: left; color: #222222; -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;}
li.sub-menu ul li h6 a:before { content: '\2335'; top: 4px; position: absolute; left: 23px; -webkit-transform: rotate(-90deg); transform: rotate(-90deg);}
li.sub-menu ul li h6 a:hover { width: 177px; color: #FFFFFF; background: #96bd05; padding: 3px 0 3px 48px; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
li.sub-menu ul li p a { margin-top: 0px; z-index: 10; font-size: 1.1em; float: left; padding: 2px 0 2px 45px; font-weight: normal; color: #96bd05; clear: both; border: none; -webkit-transition: 0.4s ease-out; transition: 0.4s ease-out;}
li.sub-menu ul li:hover > p a { -webkit-transition: 0.4s ease-in; transition: 0.4s ease-in;}
li.sub-menu ul li > p a:hover { color: #718e04; padding: 2px 0 2px 51px; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
ul.box-menu li.sub-menu:hover ul { display: block;}
li.sub-menu-links ul { width: 225px; display: none; padding: 4px 0 8px 0; float: left; position: absolute; top: 87px; background: #FFFFFF;}
li.sub-menu-links ul li a { font-size: 1.2em; padding: 5px 0 5px 42px; border: none; color: #222222; -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;}
li.sub-menu-links ul li a:before { content: '\2335'; position: absolute; left: 23px; top: 5px; -webkit-transform: rotate(-90deg); transform: rotate(-90deg);}
li.sub-menu-links ul li a:hover { color: #FFFFFF; background: #96bd05; padding: 5px 0 5px 48px; -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
ul.box-menu li.sub-menu-links:hover ul { display: block;}

.container { width: 100%; min-width: 1300px; background: url(../img/bk-container.png) repeat; float: left; position: relative;}
section.galeria { width: 100%; float: left; overflow: hidden;}
.lancamentos { width: 1300px; position: relative; left: 50%; margin-left: -650px; float: left; padding-top: 80px;}
.lancamentos h2 { font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif; text-align: center; font-size: 8.0em; color: #222222; margin: 0; padding: 0;}
.lancamentos h2 span { color: #079ab1;}

div.g-produtos { width: 1156px; margin: 60px 0 60px 72px; position: relative; float: left; overflow:hidden;}
div.g-produtos ul { width: 200000px; float: left; margin: 0; padding: 0; position: relative;}
div.g-produtos ul li a { width: 338px; height: 468px; text-decoration: none; display: inline; position: relative; float: left; border: solid 1px transparent; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
div.g-produtos ul li:hover a { border: solid 1px #047da2; background: #FFF; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
div.g-produtos ul li { float: left; margin: 0 23.5px 0 23.5px; position: relative; -webkit-transition: 0.5s; transition: 0.5s; left:385px;}
div.g-produtos ul li img { max-width: 100%; float: left; -webkit-transform: scale(0.9); transform: scale(0.9); -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
div.g-produtos ul li:hover img { -webkit-transform: scale(1.0)rotate(-3deg); transform: scale(1.0)rotate(-3deg);}
div.g-produtos ul li a h4 { font-size: 2.0em; color: #333333; float: left; position: absolute; z-index: 100; left: 25px; top: 350px; display: none;}
div.g-produtos ul li a h4 ~ p { width: 310px; font-size: 1.6em; text-indent: 20px; color: #079ab1; float: left; position: absolute; z-index: 100; left: 25px; top: 400px; display: none; background: url(../img/icon-tecnologia.png) no-repeat; background-position: 0 1px;}
div.g-produtos ul li a h4 ~ p span { font-weight: bold; color: #333333;}
div.g-produtos ul li a hr { width: 290px; height: 0px; font-weight: bold; position: absolute; z-index: 100; left: 25px; top: 400px; color: #222222; display: none;}
div.g-produtos ul li a:hover h4 ~ p { display: block;}
div.g-produtos ul li a:hover h4 { display: block;}
div.g-produtos ul li a:hover hr { display: block;}
div.g-produtos ul li a { -webkit-transition: 0.1s ease-out; transition: 0.1s ease-out;}
div.g-produtos ul li a:hover { -webkit-transition: 0.1s ease-in; transition: 0.1s ease-in;}

span.s-esquerda { width: 72px; height: 72px; position: absolute; z-index: 100; top: 415px; left: 0; transition: all 0.2s ease-out;}
span.s-esquerda a { width: 100%; height: 100%; background: url(../img/s-esquerda.jpg) no-repeat scroll left center; display: block; transition: all 0.2s ease-out;}
span.s-esquerda:hover a { background-position: right center; -webkit-transform: rotate(90deg); transform: rotate(90deg);}
span.s-direita { width: 72px; height: 72px; position: absolute; z-index: 100; top: 415px; right: 0; transition: all 0.2s ease-out;}
span.s-direita a { width: 100%; height: 100%; background: url(../img/s-direita.jpg) no-repeat scroll right center; display: block; transition: all 0.2s ease-out;}
span.s-direita:hover a { background-position: left center; -webkit-transform: rotate(-90deg); transform: rotate(-90deg);}

span.linha-home { width: 100%; position: relative; display: block; float: left; border-top: solid 1px #01607d; border-bottom: solid 1px #079ab1; margin-bottom: 44px;}
span.linha-home img { position: absolute; left: 50%; top: -1px;}
.box-home { width: 1300px; position: relative; left: 50%; margin-left: -650px; float: left;}
.tec-bouts { width: 1300px; height: 220px; float: left;}
.tec-bouts h3 { width: 285px; height: 18px; background: url(../img/dt-box-home.jpg) no-repeat; margin: 0; padding: 5px;}
.tec-bouts h3 { font-size: 2.0em; color: #222222; text-transform: uppercase; text-indent: 30px;}
.tec-bouts ul { width: 100%; float: left; margin-top: 10px;}
.tec-bouts ul li { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.tec-bouts ul li { width: 315px; height: 180px; overflow: hidden; margin-left: 10.6px; float: left; border: solid 1px #999999; cursor: pointer; position: relative; background: #FFFFFF;}
.tec-bouts ul li:first-child { margin: 0 0 0 0px;}
.tec-bouts ul li img { width: 100%; height: 100%; position: absolute; z-index: 10;}
.tec-bouts ul li a { position: absolute; z-index: 20; padding: 0px 0px; text-decoration: none; float: left; background: rgba(255,255,255,0); -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}
.tec-bouts ul li:hover a { padding: 43.8px 0px; text-decoration: none; float: left; background: rgba(0,0,0,0.8); -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
.tec-bouts ul li:hover a p:nth-child(1) { margin: 10px 0 0 0; -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
.tec-bouts ul li:hover a p:nth-child(3) { margin: 30px 0 0 0; -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
.tec-bouts ul li:hover a span { top: 10px; -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
.tec-bouts ul li a p { font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif; width: 313.5px; float: left; font-weight: bold; color: #FFF; text-align:center; -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}
.tec-bouts ul li a p:nth-child(1) { font-size: 3.4em; margin: -40px 0 0 0;}
.tec-bouts ul li a p:nth-child(3) { font-size: 1.6em; margin: -50px 0 0 0;}
.tec-bouts ul li a span { width: 150px; float: left; border-top: solid 1px #000000; border-bottom: solid 1px #999999; display: block; position: relative; top: -10px; left: 25%; -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}

.tendencias { width: 1300px; float: left; margin: 100px 0 90px 0; position: relative;}
.tendencias h3 { width: 630px; height: 18px; background: url(../img/dt-box-home.jpg) no-repeat; margin: 0; padding: 5px;}
.tendencias h3 { font-size: 2.0em; color: #222222; text-transform: uppercase; text-indent: 30px;}
div.video iframe { width: 640px; height: 437px; border: solid 1px #222222; float: left; margin-top: 10px;}

div.campanha { width: 640px; height: 437px; border: solid 1px #222222; float: right; margin-top: 10px;}
div.campanha h3 { width: 630px; height: 18px; top: 0px; background: url(../img/dt-box-home.jpg) no-repeat; margin: 0; padding: 5px; position: absolute;}
div.campanha h3 { font-size: 2.0em; color: #222222; text-transform: uppercase; text-indent: 30px;}

/*Pagina Produtos*/
.h-produtos { width: 1300px; position: relative; left: 50%; margin-left: -650px; float: left;}
.h-produtos h2 { width: 1050px; font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif; font-size: 6.0em; color: #e7ff43; margin: 20px 0 0 75px;}
.h-produtos div { margin: 20px 0 20px 79px;}
.h-produtos div ul li { display: inline;}
.h-produtos div ul li a { margin-right:10px; text-decoration: none; font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif; font-size: 1.8em; color: #FFFFFF;}
.h-produtos div ul li a.dt-voltar { padding: 0 0 0 30px; background: url(../img/st-caminho.png) no-repeat; background-position: 0 3px;}
.h-produtos div ul.box-produto { margin: 12px 0 0 30px;}
.h-produtos div ul.box-produto li a.tt-produto { font-size: 3.0em; font-weight: bold; font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif;}
.h-produtos div ul.box-produto li a { font-size: 3.0em; font-weight: bold; font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif;}

section.pg-produtos { width: 1300px; position: relative; left: 50%; margin: 20px 0 95px -650px; float: left;}
section.pg-produtos ul { width: 100%; float: left; margin: 25px 0 0 0;}
section.pg-produtos ul li { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
section.pg-produtos ul li { width: 400px; height: 250px; margin: 0 0 25px 25px; float: left; border: solid 1px #999999; cursor: pointer; position: relative; background: #FFFFFF; overflow: hidden;}
section.pg-produtos ul li img { position: absolute; z-index: 10;}
section.pg-produtos ul li a { position: absolute; z-index: 20; padding: 0px 0px; text-decoration: none; float: left; background: rgba(255,255,255,0); -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}
section.pg-produtos ul li:hover a { padding: 65.8px 0px; text-decoration: none; float: left; background: rgba(0,0,0,0.8); -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
section.pg-produtos ul li:hover a p:nth-child(1) { margin: 18px 0 0 0; -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
section.pg-produtos ul li:hover a p:nth-child(3) { margin: 40px 0 0 0; -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
section.pg-produtos ul li:hover a span { top: 20px; -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
section.pg-produtos ul li a p { font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif; width: 398px; float: left; font-weight: bold; color: #FFF; text-align:center; -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}
section.pg-produtos ul li a p:nth-child(1) { font-size: 3.8em; margin: -50px 0 0 0;}
section.pg-produtos ul li a p:nth-child(3) { font-size: 1.8em; margin: -40px 0 0 0;}
section.pg-produtos ul li a span { width: 200px; float: left; border-top: solid 1px #000000; border-bottom: solid 1px #999999; display: block; position: relative; top: -50px; left: 25%; -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}

section.pg-midia { width: 960px; position: relative; left: 50%; margin: 50px 0 0 -480px; float: left; padding-bottom: 40px;}
section.pg-midia div { width: 970px; float: left; position: relative; left: 50%; margin: 38px 0 0 -485px; padding-bottom: 90px;}
section.pg-midia div h3 { font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif; color: #222222; font-size: 3.0em; font-weight: bold; text-align: center;}
section.pg-midia div ul { width: 970px;}
section.pg-midia div ul li.video-principal { width: 800px; height: 450px; margin: 0 auto;}
section.pg-midia div ul li.video-principal iframe { width: 800px; height: 450px;}
section.pg-midia div ul li.video-secundario { width: 317px; height: 180px; float: left; margin-right: 6px; margin-top: 60px;}
section.pg-midia div ul li.video-secundario iframe { width: 317px; height: 180px;}
section.pg-midia div ul li p { font-weight: bold; color: #222222; font-size: 1.5em;}

section.produto-detalhe { width: 1300px; position: relative; left: 50%; margin-left: -650px; float: left;}
#box-produtos { width: 650px; float: left; margin-top: 70px;}
.viewport-imagem { width: 650px; height: 400px; position: relative; float: left;}
.viewport { width: 580px; margin: 40px 0 0 30px; position: relative; float: left;}
.viewport a.previous { width: 20px; height: 20px; background: url(../img/previous.png) no-repeat scroll left center; display: block; position: absolute; left: 0; top: 30px; transition: all 0.2s ease-out;} 
.viewport a.previous:hover { background-position: right center; -webkit-transform: rotate(90deg); transform: rotate(90deg);}
.viewport a.next { width: 20px; height: 20px; background: url(../img/next.png) no-repeat scroll right center; display: block; position: absolute; right: 0; top: 30px; transition: all 0.2s ease-out;}
.viewport a.next:hover { background-position: left center; -webkit-transform: rotate(-90deg); transform: rotate(-90deg);}
.viewport div { width: 535px; margin-left: 25px; overflow: hidden; float: left; position: relative;}
.viewport div ul { width: 2000000px; float: left;}
.viewport div ul li { width: 120px; height: 80px; position:relative; -webkit-transition: 0.5s; transition: 0.5s; left:0px; margin-right: 15px; background: #FFFFFF; display: block; float: left; border: solid 1px #a3a5a5; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.viewport div ul li img { width: 120px; -webkit-transform: scale(0.9); transform: scale(0.9); -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
.viewport div ul li:hover img { -webkit-transform: scale(1.0); transform: scale(1.0);}
.viewport div ul li:hover { border: solid 1px #0e9db3;}

#info-produtos { width: 460px; min-height: 570px; margin-right: 75px; padding: 70px 0 10px 50px; float: right; background: rgba(255,255,255,0.5);}
#info-produtos h2 { width: 100%; font-size: 2.8em; margin: 0 0 0 0; color: #222222; font-weight: bold; float: left;}
#info-produtos span { color: #0d9cb3;}
#info-produtos span.dt-tec { text-transform: uppercase;}
#info-produtos p.txt-info { width: 410px; margin: 10px 0 0 0; line-height: 20px; font-size: 1.6em; color: #222222; float: left; text-align: justify;}
#info-produtos p.txt-model { width: 410px; margin: 15px 0 0 0; float: left; font-size: 2.0em; font-weight: bold;}
#info-produtos p.txt-tec { width: 410px; margin: 10px 0 0 -2px; float: left; font-size: 1.6em; font-weight: bold;}
#info-produtos p.txt-number { width: 410px; margin: 10px 0 0 0; float: left; font-size: 1.4em; font-weight: bold;}
#info-produtos ul { width: 410px; float: left; margin: 15px 0 0 0;}
#info-produtos ul li { width: 120px; height: 80px; margin: 0 15px 15px 0; background: #FFFFFF; display: block; float: left; border: solid 1px #a3a5a5; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#info-produtos ul li img { width: 120px; -webkit-transform: scale(0.9); transform: scale(0.9); -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
#info-produtos ul li:hover img { -webkit-transform: scale(1.0); transform: scale(1.0);}
#info-produtos ul li:hover { border: solid 1px #0e9db3;}

section.pg-tecnologia { width: 1300px; position: relative; left: 50%; margin-left: -650px; float: left; padding-bottom: 60px;}
div.pg-galeria { width: 650px; height: 450px; float: left; position: relative; margin-top: 50px;}
div.pg-textos { width: 590px; min-height: 550px; background: rgba(255,255,255,0.5); float: left; right: 35px; position: absolute; z-index: 10;}
div.pg-textos img { margin: 50px 0 0 50px;}
div.pg-textos p { width: 490px; line-height: 25px; margin-left: 55px; font-size: 1.6em; color: #222222;}
.pg-tec { width: 1300px; float: left; margin: 30px 0; position: relative;}
.pg-tec h3 { width: 660px; height: 18px; background: url(../img/dt-box-home.jpg) no-repeat; margin: 0; padding: 5px;}
.pg-tec h3 { font-size: 2.0em; color: #222222; text-transform: uppercase; text-indent: 30px;}
.pg-tec ul { width: 100%; float: left; margin: 10px 0 0 0;}
.pg-tec ul li { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.pg-tec ul li { width: 315px; height: 180px; margin: 0 10px 10px 0; float: left; border: solid 1px #999999; cursor: pointer; position: relative; overflow: hidden; background: #FFFFFF;}
.pg-tec ul li img.tec-viewport { width: 100%; height: 100%; position: absolute; z-index: 10;}
.pg-tec ul li a { position: absolute; z-index: 20;}
.pg-tec ul li a.effect-top { padding: 0px 182px 0px 131.5px; text-decoration: none; float: left; background: rgba(255,255,255,0); -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}
.pg-tec ul li a.effect-top img { margin: -60px 0 0 0; position: absolute; -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}
.pg-tec ul li:hover a.effect-top { padding: 63px 182px 115px 131.5px; text-decoration: none; float: left; background: rgba(0,0,0,0.8); -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
.pg-tec ul li:hover a.effect-top img { margin: 0px 0 0 0; -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
.pg-tec ul li a.effect-left { padding: 63px 0px 115px 0px; text-decoration: none; float: left; background: rgba(255,255,255,0); -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}
.pg-tec ul li a.effect-left img { margin: 0 0 0 -170px; position: absolute; -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}
.pg-tec ul li:hover a.effect-left { padding: 63px 182px 115px 131.5px; text-decoration: none; float: left; background: rgba(0,0,0,0.8); -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
.pg-tec ul li:hover a.effect-left img { margin: 0 0 0 0px; -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
.pg-tec ul li a.effect-bottom { padding: 63px 182px 115px 131.5px; margin: 179px 0 0 0; text-decoration: none; float: left; background: rgba(255,255,255,0); -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}
.pg-tec ul li a.effect-bottom img { margin: 0 0 0 0; position: absolute; -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}
.pg-tec ul li:hover a.effect-bottom { padding: 63px 182px 115px 131.5px; margin: 0px 0 0 0; text-decoration: none; float: left; background: rgba(0,0,0,0.8); -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
.pg-tec ul li:hover a.effect-bottom img { margin: 0 0 0 0; -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
.pg-tec ul li a.effect-right { padding: 63px 182px 115px 131.5px; margin: 0 0 0 315px; text-decoration: none; float: left; background: rgba(255,255,255,0); -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}
.pg-tec ul li a.effect-right img { margin: 0 0 0 0; position: absolute; -webkit-transition: 0.2s ease-out; transition: 0.2s ease-out;}
.pg-tec ul li:hover a.effect-right { padding: 63px 182px 115px 131.5px; margin:  0 0 0 0px; text-decoration: none; float: left; background: rgba(0,0,0,0.8); -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}
.pg-tec ul li:hover a.effect-right img { margin: 0 0 0 0; -webkit-transition: 0.2s ease-in; transition: 0.2s ease-in;}

section.pg-wallpaper { width: 1300px; position: relative; left: 50%; margin-left: -650px; float: left;}
section.pg-wallpaper ul { width: 1200px; margin: 20px 0 20px 30px; padding-left: 40px; position: relative; float: left;}
section.pg-wallpaper ul li { width: 200px; margin: 0 40px 10px 0; overflow: hidden; float: left; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
section.pg-wallpaper ul li img { width: 200px; height: 150px; border: solid 1px #999999;}
section.pg-wallpaper ul li p { font-size: 1.4em; color: #333333; font-weight: bold;}
section.pg-wallpaper ul li span { margin-top: 7px; border: solid 1px #085e04; display: block; position: relative; float: left; cursor: pointer; background: #FFFFFF; transition: all 0.2s ease-out 0s; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
section.pg-wallpaper ul li span:hover { border: solid 1px #014b60;}
section.pg-wallpaper ul li span a { width: 123px; padding: 13px 0 13px 0; text-indent: 52px; color: #085e04; font-weight: bold; text-decoration: none; font-size: 1.2em; float: left; background: url(../img/download.jpg) no-repeat scroll bottom left; transition: all 0.2s ease-out 0s;}
section.pg-wallpaper ul li span:hover a { background-position: top left; color: #014b60;}

section.pg-contato { width: 100%; height: 100%;}
div#form { width: 522px; padding-bottom: 15px; border: solid 15px #222222; background: #FFFFFF; position: fixed; top: 5%; left:50%; margin-left: -261px; z-index: 99999999; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
div#form a { width: 36px; height: 36px; background: url(../img/fechar.jpg) no-repeat scroll left center; display: block; position: absolute;  right: 2px; top: 2px; transition: all 0.2s ease-out;}
div#form a:hover { background-position: right center; -webkit-transform: rotate(90deg); transform: rotate(90deg);}
div#form h2 { margin: 5px 0 0 13px; width: 475px; height: 28px; float: left; padding-top: 4px; text-indent: 40px; font-size: 2.0em; color: #222222; font-weight: bold; background: url(../img/dt-box-home.jpg) no-repeat;}
div#form p { margin: 0 0 0 13px; font-size: 1.6em; color: #222222; float: left; line-height: 20px;}
div#form form { font-family: 'Conv_calibri', sans-serif; margin: 20px 0 0 13px; float: left;}
div#form form p { margin: -15px 0 0 0px;}
div#form form input, div#form form select, div#form form textarea { float: left; font-family: 'Conv_calibri', sans-serif;}
div#form form label { float: left; font-size: 1.3em; color: #222222;}
div#form span.check { width: 100%; display: block; float: left; margin: -10px 0 0 0;}
div#form span.check label { padding-left: 5px; margin-top: 3px;}
div#form span.check input { border: solid 1px #cccccc;}
div#form span.check input.marketing { margin-left: 10px;}
div#form span.check-col { width: 238px; display: block; float: left;}
div#form span.check-col input, div#form span.check-col select { border: solid 1px #cccccc; padding: 8px 0 8px 3px;}
div#form span.check-col label { margin: 15px 0 10px -3px;}
div#form span.check-col input.statusNome, 
div#form span.check-col label.statusTelefone, 
div#form span.check-col input.statusModelo,
div#form span.check-col input.statusEmail { width: 220px;}
div#form span.check-col input.statusTelefone2,
div#form span.check-col label.statusCidade { width: 140px;}
div#form span.check-col input.statusTelefone1 { width: 60px; margin-right: 12px;}
div#form span.check-col select.statusCidade { width: 140px; margin-right: 24px;}
div#form span.check-col select.statusUf { width: 60px;}
div#form span.check-col label.statusUf { width: 60px; margin: -23px 0 10px -3px;}
div#form textarea.statusMensagem { width: 455px; max-width: 455px; height: 80px; font-size: 1.4em; color: #222222; border: solid 1px #cccccc; padding: 5px 0 0 5px; float: left;}
div#form label.statusMensagem { width: 455px; float: left; margin: 15px 0 10px -3px;}
div#form button { width: 124px; height: 41px; background: url(../img/enviarHover.jpg) no-repeat; text-transform: uppercase; font-size: 1.5em; letter-spacing: 1px; cursor: pointer; position: relative; float: left; margin-top: 15px; border: none; font-weight: bold; color: #FFFFFF;}
.loadAjax { width: 100%; height: 1000%; position: absolute; z-index: 9999999; background: rgba(0,0,0,0.8); display: none;}

footer { width: 100%; min-width: 1300px; float: left; background: #eeeeee; position: relative;}
section.menu-bottom { width: 900px; padding-bottom: 30px; float: left; position: relative; left: 50%; margin-left: -450px;}
section.menu-bottom ul.mb-comprar { margin: 65px 0 0 65px; float: left;}
section.menu-bottom ul li a.tt-menu-bottom { font-size: 1.5em; font-weight: bold; color: #333333; margin: 0;}
section.menu-bottom ul li a.dt-tt { padding-bottom: 2px;}
section.menu-bottom ul li a { text-decoration: none; display: list-item; margin: 10px 0 0 5px; font-size: 1.3em; color: #333333;}
section.menu-bottom ul li a.sub-produto { margin: 10px 0 3px 0;}
section.menu-bottom ul li a.txt-produto { margin: 2px 0 0 0px;}
section.menu-bottom ul li a.txt-menu-bottom:hover { color: #079ab1;}
section.menu-bottom ul.mb-produtos { margin: 65px 0 15px 100px; float: left;}
section.menu-bottom ul.mb-tecnoligia { margin: 65px 0 0 110px; float: left;}
section.menu-bottom ul.info { margin: 65px 0 0 102px; float: left;}
section.menu-bottom ul.mb-redes { width: 200px; margin: 50px 75px 0 0; float: right;}
section.menu-bottom ul.mb-redes li a.box-mb-redes { display: inline-block; float: left; -webkit-transition: 0.3s ease-out; transition: 0.3s ease-out;}
section.menu-bottom ul.mb-redes li a.box-mb-redes:hover { -webkit-transform: scale(1.1); transform: scale(1.1); -webkit-transition: 0.3s ease-in; transition: 0.3s ease-in;}
section.menu-bottom ul.mb-redes li a.box-mb-redes { width: 44px; height: 44px; display: block; text-indent: -9999px;}
section.menu-bottom ul.mb-redes li a[href*="facebook.com"] { background-image: url(../img/ico-face.png); margin-left: -1px;}
section.menu-bottom ul.mb-redes li a:hover[href*="facebook.com"] { background-image: url(../img/ico-face-hover.png);}
section.menu-bottom ul.mb-redes li a[href*="twitter.com"] { background-image: url(../img/ico-twitter.png);}
section.menu-bottom ul.mb-redes li a:hover[href*="twitter.com"] { background-image: url(../img/ico-twitter-hover.png);}
section.menu-bottom ul.mb-redes li a[href*="youtube.com"] { background-image: url(../img/ico-youtube.png);}
section.menu-bottom ul.mb-redes li a:hover[href*="youtube.com"] { background-image: url(../img/ico-youtube-hover.png);}
section.menu-bottom ul.mb-redes li a[href*="instagram.com"] { background-image: url(../img/ico-instagram.png);}
section.menu-bottom ul.mb-redes li a:hover[href*="instagram.com"] { background-image: url(../img/ico-instagram-hover.png);}

div.copyright { width: 1300px; height: 163px; position: relative; left: 50%; margin-left: -650px; float: left;}
div.copyright figure.bouts-copyright { text-align: center; margin-top: 33px;}
div.copyright figure.bouts-copyright figcaption { margin-top: 30px; font-size: 1.4em; color: #cccccc;}
section.bee-happy { width: 100%; height: 40px; text-align: center; float: left; color: #333333; font-size: 1.3em;}
section.bee-happy p a { text-decoration: none; color: #96bd05; font-weight: bold;}

/*Pagina de Erro*/
section.error { width: 1024px; height: 600px; position: relative; left: 50%; margin-left: -512px; float: left;}


/* Hack Chorme */
@media screen and (-webkit-min-device-pixel-ratio:0) {

	li.sub-menu ul li h6 a:before { 
	  top: 2px;
	}

	li.sub-menu-links ul li a:before { 
		top: 4px;
	}

}

/* Hack ie10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 

    li.sub-menu ul li h6 a:before { 
	  top: 2.5px;
	}

	li.sub-menu ul li h6 a { 
		padding: 3px 0 2px 42px;
	}

	li.sub-menu ul li h6 a:hover { 
		padding: 3px 0 2px 48px;
	}

}